
<div *ngIf="pedidoProduto">
    <h2><span jhiTranslate="aulaJHipsterApp.pedidoProduto.detail.title">Pedido Produto</span> {{pedidoProduto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aulaJHipsterApp.pedidoProduto.cdprodutoPedido">Cdproduto Pedido</span></dt>
        <dd>
            <span>{{pedidoProduto.cdprodutoPedido}}</span>
        </dd>
        <dt><span jhiTranslate="aulaJHipsterApp.pedidoProduto.tamanho">Tamanho</span></dt>
        <dd>
            <span>{{pedidoProduto.tamanho}}</span>
        </dd>
        <dt><span jhiTranslate="aulaJHipsterApp.pedidoProduto.preco">Preco</span></dt>
        <dd>
            <span>{{pedidoProduto.preco}}</span>
        </dd>
        <dt><span jhiTranslate="aulaJHipsterApp.pedidoProduto.obs">Obs</span></dt>
        <dd>
            <span>{{pedidoProduto.obs}}</span>
        </dd>
        <dt><span jhiTranslate="aulaJHipsterApp.pedidoProduto.pedido">Pedido</span></dt>
        <dd>
            <div *ngIf="pedidoProduto.pedido">
                <a [routerLink]="['/pedido', pedidoProduto.pedido?.id]">{{pedidoProduto.pedido?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="aulaJHipsterApp.pedidoProduto.cdPedido">Cd Pedido</span></dt>
        <dd>
            <div *ngIf="pedidoProduto.cdPedido">
                <a [routerLink]="['/produto', pedidoProduto.cdPedido?.id]">{{pedidoProduto.cdPedido?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pedido-produto/'+ pedidoProduto.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
