<div>
    <h2>
        <span jhiTranslate="aulaJHipsterApp.pedidoProduto.home.title">Pedido Produtos</span>
        <button class="btn btn-primary float-right jh-create-entity create-pedido-produto" [routerLink]="['/', { outlets: { popup: ['pedido-produto-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aulaJHipsterApp.pedidoProduto.home.createLabel">
            Create new Pedido Produto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pedidoProdutos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cdprodutoPedido"><span jhiTranslate="aulaJHipsterApp.pedidoProduto.cdprodutoPedido">Cdproduto Pedido</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tamanho"><span jhiTranslate="aulaJHipsterApp.pedidoProduto.tamanho">Tamanho</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="preco"><span jhiTranslate="aulaJHipsterApp.pedidoProduto.preco">Preco</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="obs"><span jhiTranslate="aulaJHipsterApp.pedidoProduto.obs">Obs</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pedido.id"><span jhiTranslate="aulaJHipsterApp.pedidoProduto.pedido">Pedido</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cdPedido.id"><span jhiTranslate="aulaJHipsterApp.pedidoProduto.cdPedido">Cd Pedido</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pedidoProduto of pedidoProdutos ;trackBy: trackId">
                <td><a [routerLink]="['../pedido-produto', pedidoProduto.id ]">{{pedidoProduto.id}}</a></td>
                <td>{{pedidoProduto.cdprodutoPedido}}</td>
                <td>{{pedidoProduto.tamanho}}</td>
                <td>{{pedidoProduto.preco}}</td>
                <td>{{pedidoProduto.obs}}</td>
                <td>
                    <div *ngIf="pedidoProduto.pedido">
                        <a [routerLink]="['../pedido', pedidoProduto.pedido?.id ]" >{{pedidoProduto.pedido?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pedidoProduto.cdPedido">
                        <a [routerLink]="['../produto', pedidoProduto.cdPedido?.id ]" >{{pedidoProduto.cdPedido?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pedido-produto', pedidoProduto.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pedido-produto/'+ pedidoProduto.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pedido-produto/'+ pedidoProduto.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="pedidoProdutos && pedidoProdutos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
