<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPedidoProdutoLabel" jhiTranslate="aulaJHipsterApp.pedidoProduto.home.createOrEditLabel">Create or edit a Pedido Produto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pedidoProduto.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pedidoProduto.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.pedidoProduto.cdprodutoPedido" for="field_cdprodutoPedido">Cdproduto Pedido</label>
            <input type="number" class="form-control" name="cdprodutoPedido" id="field_cdprodutoPedido"
                [(ngModel)]="pedidoProduto.cdprodutoPedido"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.pedidoProduto.tamanho" for="field_tamanho">Tamanho</label>
            <input type="text" class="form-control" name="tamanho" id="field_tamanho"
                [(ngModel)]="pedidoProduto.tamanho"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.pedidoProduto.preco" for="field_preco">Preco</label>
            <input type="number" class="form-control" name="preco" id="field_preco"
                [(ngModel)]="pedidoProduto.preco"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.pedidoProduto.obs" for="field_obs">Obs</label>
            <input type="text" class="form-control" name="obs" id="field_obs"
                [(ngModel)]="pedidoProduto.obs"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.pedidoProduto.pedido" for="field_pedido">Pedido</label>
            <select class="form-control" id="field_pedido" name="pedido" [(ngModel)]="pedidoProduto.pedido" >
                <option [ngValue]="null"></option>
                <option [ngValue]="pedidoOption.id === pedidoProduto.pedido?.id ? pedidoProduto.pedido : pedidoOption" *ngFor="let pedidoOption of pedidos; trackBy: trackPedidoById">{{pedidoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.pedidoProduto.cdPedido" for="field_cdPedido">Cd Pedido</label>
            <select class="form-control" id="field_cdPedido" name="cdPedido" [(ngModel)]="pedidoProduto.cdPedido" >
                <option [ngValue]="null"></option>
                <option [ngValue]="produtoOption.id === pedidoProduto.cdPedido?.id ? pedidoProduto.cdPedido : produtoOption" *ngFor="let produtoOption of produtos; trackBy: trackProdutoById">{{produtoOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
