<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProdutoLabel" jhiTranslate="aulaJHipsterApp.produto.home.createOrEditLabel">Create or edit a Produto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!produto.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="produto.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.produto.cdProduto" for="field_cdProduto">Cd Produto</label>
            <input type="number" class="form-control" name="cdProduto" id="field_cdProduto"
                [(ngModel)]="produto.cdProduto"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.produto.nomeproduto" for="field_nomeproduto">Nomeproduto</label>
            <input type="text" class="form-control" name="nomeproduto" id="field_nomeproduto"
                [(ngModel)]="produto.nomeproduto"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
