
<div *ngIf="produto">
    <h2><span jhiTranslate="aulaJHipsterApp.produto.detail.title">Produto</span> {{produto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aulaJHipsterApp.produto.cdProduto">Cd Produto</span></dt>
        <dd>
            <span>{{produto.cdProduto}}</span>
        </dd>
        <dt><span jhiTranslate="aulaJHipsterApp.produto.nomeproduto">Nomeproduto</span></dt>
        <dd>
            <span>{{produto.nomeproduto}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produto/'+ produto.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
