
<div *ngIf="pedido">
    <h2><span jhiTranslate="aulaJHipsterApp.pedido.detail.title">Pedido</span> {{pedido.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aulaJHipsterApp.pedido.cdPedido">Cd Pedido</span></dt>
        <dd>
            <span>{{pedido.cdPedido}}</span>
        </dd>
        <dt><span jhiTranslate="aulaJHipsterApp.pedido.dtpedido">Dtpedido</span></dt>
        <dd>
            <span>{{pedido.dtpedido | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pedido/'+ pedido.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
