<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPedidoLabel" jhiTranslate="aulaJHipsterApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!pedido.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pedido.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.pedido.cdPedido" for="field_cdPedido">Cd Pedido</label>
            <input type="number" class="form-control" name="cdPedido" id="field_cdPedido"
                [(ngModel)]="pedido.cdPedido"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aulaJHipsterApp.pedido.dtpedido" for="field_dtpedido">Dtpedido</label>
            <div class="input-group">
                <input id="field_dtpedido" type="text" class="form-control" name="dtpedido" ngbDatepicker  #dtpedidoDp="ngbDatepicker" [(ngModel)]="pedido.dtpedido"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dtpedidoDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
